/*VARIABLES*/
:root {
	border-color: black;
	--background-color: #A09539;
	--border-color: #040D0A;
	--header-color: #E6CA5E;
	--header-text-color: black;
	--header-color-inverse: black;
	--header-text-color-inverse: #E6CA5E;
	--section-color: #F7EAC7;
}
/*---------*/

/*CUSTOM FONT*/
@font-face {
	font-family: 'Magik';
	src: url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.eot'); /* IE9 Compat Modes */
	src: url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.woff') format('woff'), /* Pretty Modern Browsers */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/*-----------*/

/*THEME*/
#border {
    border: 10px solid transparent;
    -webkit-border-image: url(https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/images/border.png) round; /* Safari 3.1-5 */
    -o-border-image: url(https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/images/border.png) round; /* Opera 11-12.1 */
    border-image: url(https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/images/border.png) round;
    border-image-slice: 25%;
    background-color: --background-color;
}

.nav-tabs > a, table > thead > .coolFont > th, .panel-title > a {
	font-family: 'Magik';
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover,
.dropdown-menu {
	background-color: --header-color-inverse;
	border-color: --header-color-inverse;
	color: --header-text-color-inverse;
}

.nav-tabs > .dropdown > ul > li.active > a,
.nav-tabs > .dropdown > ul > li.active > a:focus {
	background-color: --header-color;
	border-color: --header-color;
	color: --header-text-color;
}

.nav-tabs {
	border-bottom: 1px solid --header-color-inverse;
}

.container-fluid, .panel-heading, thead {
	background-color: --background-color;
}

.panel-body {
	background-color: --section-color;
}

.table-striped > tbody > tr:hover > td {
    background-color: #efefef;
}
/*-----*/



/*FUNCTIONALITY*/
.dropdown:hover .dropdown-menu {
	display: block;
}
/*-------------*/