/*CUSTOM FONT*/
@font-face {
	font-family: 'Magik';
	src: url('resources/fonts/MAGIC.eot'); /* IE9 Compat Modes */
	src: url('resources/fonts/MAGIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('resources/fonts/MAGIC.woff2') format('woff2'), /* Super Modern Browsers */
		 url('resources/fonts/MAGIC.woff') format('woff'), /* Pretty Modern Browsers */
		 url('resources/fonts/MAGIC.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('resources/fonts/MAGIC.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*NAVIGATION*/
.nav-tabs a{
	color: #41261B;
	font-family: 'Magik';
}

.navbar {
	background-color: #9A5D40;
	border-color: #9A5D40;
	border-radius: 0px;
}

.table-striped > tbody > tr:hover > td {
    background-color: #efefef;
}

.navbar-header > button > span,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
	background-color: #41261B;
	border-color: #41261B;
	color: #9A5D40;
}

.nav-tabs > .dropdown > ul > li.active > a,
.nav-tabs > .dropdown > ul > li.active > a:focus {
	background-color: #9A5D40;
	border-color: #9A5D40;
	color: #41261B;
}

.nav-tabs {
	border-bottom: 1px solid #41261B;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover {
	background-color: #41261B;
	color: #9A5D40;
	border-color: #41261B;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu,
.dropdown-menu > li > a {
	background-color: #41261B;
	color: #9A5D40;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a > .active {
	background-color: #9A5D40;
	color: #41261B;
}

/*CONTRIBUTION TABLE*/
table > thead > .coolFont > th {
	font-family: 'Magik';
}

.tab-content {
	background-color: #9A5D40;
}

/*COLLAPSE PANELS*/
.panel,
.panel-heading,
.panel-heading > .panel-title > a,
.table > thead,
.table > thead > tr > th {
	font-family: 'Magik';
	background-color: #41261B;
	border-color: #41261B;
	color: #93A7A8;
}

.panel-collapse,
.panel-collapse > .panel-body > p,
.table > tbody,
.table > tbody > tr > td {
	background-color: #C8C8D0;
	border-color: #C8C8D0;
	color: black;
	font-family: initial !important;
}

/*BORDER*/
#border {
    border: 10px solid transparent;
    -webkit-border-image: url(resources/images/border.png) round; /* Safari 3.1-5 */
    -o-border-image: url(resources/images/border.png) round; /* Opera 11-12.1 */
    border-image: url(resources/images/border.png) round;
    border-image-slice: 25%;
    background-color: #9A5D40;
}

/*FORCE TO TAKE UP WHOLE SCREEN*/
/*.box {
	display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
	flex-flow: column;
	height: 100%;
}*/

/*CAROUSEL*/
.carousel {
	max-height: 640px !important;
	max-width: 360px !important;
	margin: auto;
}

.intro > h1 {
	font-family: "Magik";
}

.intro > p::first-letter {
	font-family: "Magik";
	font-size: 200%;
	color: #84A6C1; /*LOGO BLUE*/
}