/*CUSTOM FONT*/
@font-face {
	font-family: 'Magik';
	src: url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.eot'); /* IE9 Compat Modes */
	src: url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.woff') format('woff'), /* Pretty Modern Browsers */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/resources/fonts/MAGIC.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*NAVIGATION*/
.nav-tabs a{
	color: #a51026;
	font-family: 'Magik';
}

.table-striped > tbody > tr:hover > td {
    background-color: #efefef;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
	background-color: #a51026;
	color: #222222;
	border-color: #a51026;
}

.nav-tabs {
	border-bottom: 1px solid #a51026;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover {
	background-color: #a51026;
	color: #222222;
	border-color: #a51026;
}

.coolFont {
	font-family: 'Magik';
}

/*.tab-content {
	background: url("https://projects.cs.uaf.edu/redmine/projects/cs371_f15_gathering_the_magik/repository/revisions/master/raw/MTG.jpg");
	background-color: #222222;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	background-attachment: fixed;
}*/

/*COLLAPSE PANELS*/
.panel-title > a {
	font-family: 'Magik';
}

/*.panel {
	width: 75%;
	margin: 15px auto;
}*/